.headerCustom {
    /* border-bottom: 1px solid white; */
    background-color: #000;
    height: 5rem;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.footerCustom {
    border-top: 1px solid white;
}

.backgroundCustom {
    background-color: #161920;
    color: white;

}

.btnCustom {
    padding: 1rem;
    background-color: #213145;
    width: 7rem;
    border-radius: 0.5rem;
    list-style: none;
    margin-top: 0.5rem;
}

.sidebarCustom {
    background-color: #213145;
    color: white;
}

.offcanvas-header {
    background-color: #131b25;
    color: white;
}

.btnHeader {
    background-color: #213145;
    border-radius: 0.5rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    margin-right: 0.5rem;
}

.fixedHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000de;
    z-index: 1;
}

.registerLogin {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 400px;
    background-color: #1F232E;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
}

label {
    margin-top: 0.5rem;
    font-weight: bold;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
}

.gameImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}

.cardCustom {
    background-color: #1F232E;
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.5s ease;
}

.cardCustom:hover {
    transform: rotate(2deg);
}

.marginP {
    margin-top: 1rem;
    margin-bottom: 0;
}

h4 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchInput {
    background-color: #213145;
    border-radius: 0.5rem;
    width: 100%;
    margin-left: -7.5%;
}

.rehacktor {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 0.5rem;
}

.burgerMenu:active {
    border: none;
}

.btn:active,
.btn:focus {
    border: none;
}