.headerCustom {
    border-bottom: 1px solid white;
    background-color: #000;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.footerCustom {
    border-top: 1px solid white;
}

.backgroundCustom {
    background-color: #213145;
    color: white;

}

.btnCustom {
    padding: 1rem;
    background-color: #213145;
    width: 7rem;
    border-radius: 0.5rem;
    list-style: none;
}

.sidebarCustom {
    background-color: #213145;
    color: white;
}

.offcanvas-header {
    background-color: #131b25;
    color: white;
}

.btnHeader {
    background-color: orange;
    margin-left: auto;
    border-radius: 0.5rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
}

.fixedHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000de;
    z-index: 1;
}

.registerLogin {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 400px;
    background-color: #0b1016;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1.5rem;
}

label {
    margin-top: 0.5rem;
    font-weight: bold;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
}